<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThanhToan.Properties.Settings.ConnectString" connectionString="Data Source=NHATSON-PC\SQLEXPRESS;Initial Catalog=ThanhToan;Persist Security Info=True;User ID=mylogin;Password=mylogin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>